@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Shadows+Into+Light&display=swap");

.coronaVirus {
  text-align: center;
}

.myButton {
  text-align: center;
}

.myOwnBrand {
  font-family: "Shadows Into Light", cursive;
  font-size: 1.5em;
}

.myOwnBrand a:link {
  text-decoration: none;
}

.myOwnLogo {
  font-size: 1.8em;
}

.logoGif {
  border-radius: 50%;
  height: 100%;
}

.ueberschriften {
  text-align: center;
  font-size: 1.8em;
}

.bio {
  padding-top: 20px;
}

.hauptcontainer {
  width: 80%;
  margin: auto;
}

/* SLIDESHOW */

.slideshow-container .slide-container {
  width: 65%;
  margin: auto;
}

.slide-container {
  /* cursor: zoom-in; */
}

.slide-container img {
  width: 100%;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  background: #868686;
  border-radius: 10px 10px 0px 0px;
}

/* creating buttons */
.next-btn,
.prev-btn {
  background: #898989;
  color: #eee;
  width: 15%;
  padding: 10px;
  font-size: 1.25em;
  cursor: pointer;
  transition: 300ms;
  text-align: center;
}

.prev-btn {
  left: 0;
  border-radius: 10px 10px 10px 0px;
}

.next-btn {
  right: 0;
  border-radius: 10px 10px 0px 10px;
}

.next-btn:hover,
.prev-btn:hover {
  opacity: 0.8;
  background: #696969;
}

.fusszeile {
  width: 100%;
  text-align: center;
  font-size: 0.8em;
}

a {
  padding-top: 150px;
}

.kalendar {
  margin: auto;
  display: block;
}

.boogie {
  width: 100%;
  max-width: 300px;
  /* height: 261px; */
}

.wirFoto {
  width: 100%;
  max-width: 300px;
  border-radius: 50%;
}

.socialMedia {
  text-align: center;
}

.iconSize {
  font-size: 50px;
  padding: 0 50px;
}

.link-section {
  margin-top: 30px;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .slideshow-container .slide-container {
    width: 80%;
  }

  .ueberschriften {
    width: 100%;
    text-align: center;
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  a {
    padding-top: 100px;
  }

  .logoGif {
    display: none;
  }

  .hamburger {
    text-align: center;
    margin: auto;
  }

  .hauptcontainer {
    width: 95%;
  }

  .slideshow-container .slide-container {
    width: 100%;
  }

  .next-btn,
  .prev-btn {
    width: 25%;
  }
}
